    body {
        background-color: #004643;
        color: #abd1c6;
        font-size: 16px;
        font-family: 'Source Code Pro', monospace;
    }
    
    h1, h2 {
    }

    button {
        background-color: #f9bc60;
        color: #001e1d;
        font-size: 1.4em;
        padding: 10px;
    }
    
    .game-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .game-container > div {
        padding: 20px;
    }

    .button-container {
        min-height: 50px;
        display: flex;
        justify-content: space-around;
    }

    #total-score {
        display: flex;
        justify-content: center;
    }

    .total-score-leaderboard {
        font-size: 2em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .total-score-leaderboard td,
    .fixture-table td { padding: 5px;}

    #game {
        color: #001e1d;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
        width: 60vw;
    }
    .game-is-active {
        background-color: #abd1c6;
        text-align: center;
    }
    .modal-outer {
        display: grid;
        position: fixed;
        background-color: hsla(22, 100%, 50%, 0.507);
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        justify-content: center;
        align-items: center;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.2s;
    }

    .modal-outer.open {
        opacity: 1;
        pointer-events: all;
    }

    .modal-inner {
        max-width: 600px;
        min-width: 400px;
        min-height: 200px;
        color: #001e1d;
        background-color: #abd1c6;
        padding: 2rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 2em;
        text-align: center;
    }

    .modal-inner.grid {
        display: grid;
    }

    .fixture .winner {
        font-weight: bold;
    }

    .fixture .loser {
        text-decoration: line-through;
    }

    .in-ranking {
        font-size: 1.5em;
    }

    .gold {
        color: gold;
    }

    .silver {
        color: silver;
    }

    .bronze {
        color: burlywood;
    }